<!-- <div>
    <div class="row">
        <div class="col-md-6">
MERLI, RITTA, 
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-12">
        <h4 class="text-right text-info-greet">Hola: {0}, actualmente tienes {1} puntos de crédito.</h4>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        <div class="roulette">
            <form>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="wheel">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <span class="centre"></span>
                    <span class="ball"></span>
                </div>
                <div class="table">
                    <label for="s-0-">0</label>
                    <div class="squares">
                        <div id="sq3"></div>
                        <div id="sq6"></div>
                        <div id="sq9"></div>
                        <div id="sq12"></div>
                        <div id="sq15"></div>
                        <div id="sq18"></div>
                        <div id="sq21"></div>
                        <div id="sq24"></div>
                        <div id="sq27"></div>
                        <div id="sq30"></div>
                        <div id="sq33"></div>
                        <div id="sq36"></div>
                        <div id="sq2"></div>
                        <div id="sq5"></div>
                        <div id="sq8"></div>
                        <div id="sq11"></div>
                        <div id="sq14"></div>
                        <div id="sq17"></div>
                        <div id="sq20"></div>
                        <div id="sq23"></div>
                        <div id="sq26"></div>
                        <div id="sq29"></div>
                        <div id="sq32"></div>
                        <div id="sq35"></div>
                        <div id="sq1"></div>
                        <div id="sq4"></div>
                        <div id="sq7"></div>
                        <div id="sq10"></div>
                        <div id="sq13"></div>
                        <div id="sq16"></div>
                        <div id="sq19"></div>
                        <div id="sq22"></div>
                        <div id="sq25"></div>
                        <div id="sq28"></div>
                        <div id="sq31"></div>
                        <div id="sq34"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-horizontal">
            <form class="form-control-bet">
                <input class="username-bet" type="hidden" name="user.username" />
                <input class="username-points" type="hidden" name="user.points" />
                <div class="form-group">
                    <label for="bet.id">Tipo de apuesta</label>
                    <select class="form-control bet-type-form" name="bet.id"></select>
                </div>
                <div class="form-group">
                    <label for="betPoints">Puntos a apostar</label>
                    <input type="number" name="betPoints" id="betPoints" class="form-control" placeholder="Ingrese puntos a apostar" aria-describedby="helpId">
                    <small id="helpId" class="text-muted">La cantidad no debe superar a sus puntos disponibles.</small>
                </div>
                <div class="form-group form-group-number">
                    <label for="selectedBetNumbers">Apuestas</label>
                    <input type="text" name="selectedBetNumbers" id="selectedBetNumbers" class="form-control" placeholder="Ingrese números de apuesta">
                </div>
                <div class="form-group form-group-colour">
                    <label for="selectedBetColour">Apuesta</label>
                    <select class="form-control" name="selectedBetColour">
                        <option value="red">Rojo</option>
                        <option value="black">Negro</option>
                    </select>
                </div>
                <div class="form-group form-group-even">
                    <label for="selectedBetEven">Apuesta</label>
                    <select class="form-control" name="selectedBetEven">
                        <option value="even">Par</option>
                        <option value="odd">Impar</option>
                    </select>
                </div>
                <div class="form-group form-group-half">
                    <label for="selectedBetHalf">Apuesta</label>
                    <select class="form-control" name="selectedBetHalf">
                        <option value="high">Alto</option>
                        <option value="low">Bajo</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning">¡Apostar!</button>
            </form>
        </div>
    </div>
</div>
<script src="js/roulette.js"></script>
<!-- <script src="lib/jquery/jquery.easing.min.js"></script>
<script src="js/roulette.js"></script> -->